{% extends 'base_template.html' %}

{% block content %}
    <h1>Input your datas:</h1>
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.email.label }}
            {{ form.email(autofocus=true) }}
            {% for error in form.email.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.password.label }}
            {{ form.password }}
            {% for error in form.password.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.remember_me.label }}
            {{ form.remember_me }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
        <div>
            <a href="{{ url_for('user.restore') }}">Do you forget your password?</a>
        </div>
    </form>
{% endblock content %}